@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@mixin placeholder ($color) {
	&::-webkit-input-placeholder {
		color: $color;
		transition: inherit; 

	}

	&:-moz-placeholder { /* Firefox 18- */
		color: $color;
		transition: inherit;   
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
		transition: inherit;   
	}

	&:-ms-input-placeholder {  
		color: $color;
		transition: inherit;   
	}
}
* {
	padding: 0;
	margin: 0;
	outline: none !important;
	box-sizing: border-box;
}
.input {
	@include placeholder(#9ab5c5);
}

/* variables */
@import '_variables.scss';
/* ------------- */

html, body {
	width: 100%; height: 100%;
	font-size: 14px;

	&.overlayed {
		overflow: hidden;
	}
	&.opac {
		opacity: 0.9;
	}
}
body {
	font-family: $font;
	font-weight: 400;

}
main {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
a {
	transition: .3s;
	border-bottom: 1px solid transparent;
	color: black;

	&.white {
		color: #fff;
	}
	&:hover {
		text-decoration: none;
		transition: .3s;
		color: grey;
	}
	&:focus {
		text-decoration: none;
	}
}

img.adaptive {
	display: block;
	width: 100%; height: auto;
}
.clear {
	list-style: none;
	margin: 0;
	padding: 0;
}

.right-align {
	text-align: right;
}

.verticaly-middle {
	display: table;
	width: 100%; height: 100%;

	.inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.image-contain {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
	transform: translateZ(0);

	img {
		position: absolute;
		width: auto; height: auto;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		max-width: 80%;
		max-height: 80%;
	}
}
.image-cover {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
	transform: translateZ(0);

	img {
		position: absolute;
		top: 0; left: 50%;
		height: 100%; width: auto;
		transform: translateX(-50%);
	}
	&.vertical {
		img {
			top: 50%; left: 0;
			height: auto; width: 100%;
			transform: translateY(-50%);
		}
	}
}

.out {
	background: black;
	color: #E6D761;
}
.red {
	color: #F22643;
}
.white {
	color: #fff;
}
.aqua {
	color: #A1E22C;
}
.color {
	color: blue;
}





/* media queries */
@import 'main.scss';
@import 'media/skin-media.scss';
@import 'ipgeo.scss';
@import 'ipmain.scss';
/* ------------- */