@media (max-width: 1200px){

	.slider-wrapper .owl-controls .owl-buttons .owl-next {
		margin-left: 0;
		right: 0;
		left: auto;
	}
	.slider-wrapper .owl-controls .owl-buttons .owl-prev {
		margin-right: 0;
		right: auto;
		left: 0;
	}


}